PORT= # Порт
MONGODB_USER= # Юзернейм користувача
MONGODB_PASSWORD= # Пароль користувача
MONGODB_URL= # Зв'язок url з базою даних
MONGODB_DB= # Назва бази даних

JWT_SECRET= # Підпис токену
APP_DOMAIN= # Домен додатку
SMTP_HOST= # Хост
SMTP_PORT= # Порт
SMTP_USER= # Нік юзера
SMTP_PASSWORD= # Пароль юзера
SMTP_FROM= # Пошта, з якої надсилаюсть запит на ресет паролю

CLOUDINARY_CLOUD_NAME= # Ім'я хмари
CLOUDINARY_API_KEY= # API ключ
CLOUDINARY_API_SECRET= # API secret

UPLOAD_TO_CLOUDINARY= # Фічер флаг